@media only screen and (max-width: 768px) {
	.display_none_reponsive {
		display: none;
	}
	.header-third {
		display: none;
	}
	.menu-toggle:hover .header-third {
		display: block;
	}
	.product-sale__countdown, .product-sale__direct {
		display: none;
	}
	.product-sale__countdown, .product-sale__direct {
		display: none;
	}
}