.main-panel {
	width: 90%;
	border-radius: 10px;
}

.content-wrapper {
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	width: 100%;
	/*
	padding: 40px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	!>
	*/
}

;
.optgroup-choosen {
	color: red;
	background-color: white;
	font-size: 20px;
}

;
.option-choosen {
	background-color: white;
	color: black;
}

.navbar-menu-wrapper, .navbar-brand-wrapper, #sidebar{
	background: #000 !important;
	color: #D10024 !important;
}



.sidebar .nav .nav-item.nav-category {
	color: #D10024 !important;
	font-weight: 600;
}

.sidebar .nav .nav-item .nav-link i.menu-icon, .sidebar .nav .nav-item .nav-link .menu-title {
	color: #D10024 !important;
	font-weight: 600;
}

.sidebar .nav.sub-menu .nav-item .nav-link.active{
	color: #D10024 !important;
	text-decoration: underline;
}

.sidebar .nav .nav-item .nav-link {
	border-radius: 0px;
}